/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
* {
  margin: 0;
  padding: 0;
}
.game {
  position: relative;
}
.gameImage {
  width: 100vw;
  position: relative;
}
.gameImage img {
  width: 100%;
}
.frame {
  width: 5%;
  height: 9%;
  border: 5px solid orange;

  position: absolute;
  top: 0;
}
.checkWaldo {
  position: absolute;
}
.error {
  color: red;
  background-color: pink;
  width: fit-content;
  padding: 0.5em;
}
.timer {
  border: 2px solid #333;
  padding: 0.5em;
}
.gameNav {
  display: flex;
  align-items: center;
  gap: 10em;
  height: 8vh;
  padding-left: 2em;
}
.modal {
  position: absolute;
  top: 40%;
  left: 30%;
  background-color: white;
  padding: 2em;
  filter: none;
  z-index: 1;
  pointer-events: auto;
  border-radius: 5px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  height: 8vh;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
a:hover,
nav a:hover,
button:hover {
  background-color: #04aa6d;
}
a,
button {
  color: white;
  text-decoration: none;
  height: 5vh;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #333;
  display: flex;
  align-items: center;
}
.instructions {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.instructions h1 {
  align-self: center;
}
.sprite {
  height: 15vh;
}
.example {
  height: 20vh;
}
ul {
  display: flex;
  flex-direction: column;
}
ul li {
  min-height: 20vh;
  display: flex;
  align-items: center;
  gap: 1em;
}
ul li::before {
  content: "*";
}
.gameInit {
  display: flex;
  gap: 1em;
}
select {
  color: white;
  text-align: center;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  font-size: inherit;
}

.easy {
  background-color: #04aa6d;
}
.mid {
  background-color: #c24802;
}
.hard {
  background-color: #aa0404;
}
.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 5em;
}
table,
th,
td {
  border: 2px solid #333;
  border-collapse: collapse;
  width: 40vw;
}
th:first-child {
  border-right: 2px solid white;
}
th {
  background-color: #333;
  color: white;
}
td {
  text-align: center;
}
tbody tr:nth-child(even) {
  background-color: #e7e9eb; /* Light gray background */
}
.errorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5em;
}

.errorPage img {
  width: 8vw;
  animation: orbit infinite ease-in-out 6s;
  position: absolute;
  top: 35%;
  /* animation: searchGlass 3s infinite linear; */
}
.container {
  position: relative;
}
.container h1 {
  position: relative;
  z-index: 2;
  backdrop-filter: blur(5px);
}
@keyframes orbit {
  0% {
    left: -50%;
    z-index: 1;
    scale: 0.7;
    transform: translate(0%, -50%);
  }
  25% {
    scale: 0.3;
    transform: translate(-100%, -50%);
  }
  50% {
    left: 120%;
    z-index: 1;
  }
  50.001% {
    z-index: 3;
  }
  75% {
    scale: 1;
  }
  100% {
    left: -50%;
    transform: translate(0%, -50%);
    z-index: 3;
    scale: 0.72;
  }
}
